pandas==2.2.3
pyarrow==19.0.1
geohash2==1.1
datasets==3.5.0
evaluate==0.4.3
mlflow==2.22.0
tokenizers==0.21.1
transformers==4.51.2
accelerate==1.9.0

--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.6.0+cu118
torchaudio==2.6.0+cu118
torchvision==0.21.0+cu118
